.navBar {
    width: 100%;
    height: 11vh;
    padding: 0px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303030;
    position: sticky;
    top: 0;
    z-index: 2;
}

.logoContainer {
    max-width: 150px;
}

.logo {
    width: 100%;
}

.navBar > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar > ul li {
    list-style: none;
    margin-right: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

.navBar > ul li:last-child {
    margin-right: 0;
}